.search-bar {
    width: 15rem;
    border-radius: 4px;
}

.p-datatable-thead{
    background-color: #FF725E;
}

.bookings-table .p-datatable-tbody > tr:nth-child(odd) {
    background-color: #ebeaea; /* Light gray for odd rows */
}

.bookings-table .p-datatable-tbody > tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}

.custom-button {
    background-color: #FF725E; /* Orange button */
    border: none;
    color: #fff; /* White text */
}


.custom-button:hover {
    background-color: #e55e50; /* Darker orange on hover */
}


/* Custom styles for DataTable */
.p-datatable .p-datatable-header {
    background-color: #1f1f1f; 
    border: 0;
    color: #fff; /* White header text */
}

.p-datatable-wrapper{
    background-color: #222;
}


.p-datatable .p-datatable-body {
    background-color: #222; /* Darker body background */
}

.p-datatable .p-datatable-footer {
    padding-left: 40px;
    background-color: #1f1f1f; /* Dark footer background */
    color: #fff; /* White footer text */
}
