.color-font{
  color: #FF725E;
}

.color-bg{
  background-color: #FF725E;
}

#color-btn:hover{
  background-color: #FF452B;
}

#color-btn:focus{
  background-color: #FF452B;
}

#color-btn:active{
  background-color: #FF452B;
}

/* home page component */
html{
  background-color: #1f1f1f;
}

.home-container{
  background-color: #1f1f1f;
  color: white;
}

.nowShowing-section {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.theatre-section{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nowShowing-section::-webkit-scrollbar {
  height: 8px;
}

.nowShowing-section::-webkit-scrollbar-track {
  background: transparent;
}

.nowShowing-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.nowShowing-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.theatre-section::-webkit-scrollbar {
  height: 8px;
}

.theatre-section::-webkit-scrollbar-track {
  background: transparent;
}

.theatre-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.theatre-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* auth componenets */
.main-container{
    background-color: #1F1F1F;
}

#card-form{
    background-color: white;
}


/* navbar component */
#navbar{
    color: white;
}

.dropdown-item:hover{
  background-color: #FF725E;
}


/* showtime */
.date-picker {
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
}

.card {
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
}

.card-title, .card-text, .btn {
    color: #fff;
}

/* seat component */
#seat-btn{
  color: white;
}

#seat-btn:hover{
  background-color: white;
  border-color: #198754;
  border-width: 3px;
  color: #198754;
}