#root{
    background-color: #1f1f1f;
}
.search-bar {
    width: 15rem;
    border-radius: 4px;
}

.p-datatable-thead{
    background-color: #FF725E;
}

.data-table{
    background-color: #1f1f1f;
}

.bookings-table .p-datatable-tbody > tr:nth-child(odd) {
    background-color: #ebeaea;
}

.bookings-table .p-datatable-tbody > tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}

.custom-button {
    background-color: #FF725E; /* Orange button */
    border: none;
    color: #fff; /* White text */
}


.custom-button:hover {
    background-color: #e55e50; /* Darker orange on hover */
}

.custom-calendar-popup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
}

.p-datepicker {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
    z-index: 10000 !important; /* Ensure the datepicker itself is above other content */
}


/* Custom styles for DataTable */
.p-datatable .p-datatable-header {
    background-color: #1f1f1f; 
    border: 0;
    color: #fff; /* White header text */
}

.p-datatable-wrapper{
    background-color: #222;
}


.p-datatable .p-datatable-body {
    background-color: #222; /* Darker body background */
}

.p-datatable .p-datatable-footer {
    padding-left: 40px;
    background-color: #1f1f1f; /* Dark footer background */
    color: #fff; /* White footer text */
}
